@import "./src/assets/styles/fontStyles";
@import "./src/assets/styles/fontWeights";
@import "./src/assets/styles/flexCenter";

.section {
  font-size: 25px;

  h2 {
    @extend %titleFont;
    font-weight: var(--semiBold);
    text-transform: uppercase;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 13;
    margin-bottom: .57em;
    font-size: 3.16em;
  }
}