@import './src/assets/styles/fontStyles';
@import "./src/assets/styles/fontWeights";

.button {
  background: #F47935;
  @extend %textFont;
  padding: .875em 2.75em;
  border-radius: 52px;
  border: none;
  outline: none;
  transition: .25s ease;
  color: white;
  cursor: pointer;
  user-select: none;
  letter-spacing: 0.035em;
  text-transform: uppercase;
  font-weight: var(--bold);

  &:active {
    filter: brightness(.8);
  }
}